/*----------MENU-----------------*/
.menu-section{
  position: fixed;
  top:0;
  right: 0;
  width: 100%;
  z-index: 1000;
}
.menu-toggle {
  width: 40px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  right: 0;
  margin: 2%;
}
.on{
  background-color:#F87060;
}
.on .one {
  transform: rotate(45deg) translate(7px, 7px);
  background: white;
}
.on .two {
  opacity: 0;
}
.on .three {
  transform: rotate(-45deg) translate(8px, -10px);
  background: white;
}
.one,
.two,
.three{
  width: 100%;
  height: 5px;
  background: #F87060;
  margin: 6px auto;
  backface-visibility: hidden;
  transition-duration:0.3s;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 4em auto;
  text-align: center;
  height: 100vh;
}
.hidden{
  display: none;
}
nav ul a {
  font-family: 'Share Tech Mono', monospace;
  transition-duration:0.5s;
  text-decoration: none;
  color: #f4f5f9;
  font-size: 4vw;
  line-height: 1.5;
  width: 100%;
  display: block;
}
nav ul a:hover{
  background-color: rgba(0,0,0,0.5);
  text-decoration: none;
  color:#EFFFE9;
}
/***********************************************************************************/
.principal{
  height: 100vh;
  position: relative;
}
/*---------------------*/
.idioma {
  margin: 30px 70px 0 0;
  float: right;
  font-size: 22px;
  font-weight: bold;
}
.idioma a{
  color: #F87060;
  text-decoration: none;
}
/*--------------------*/
.nombre h1{
  margin-top: 14vh;
  font-family: 'Pacifico', cursive;
  color: #f4f5f9;
  font-size: 10vw;
}
/*--------TITULO-------------*/
.console-container {
  font-size:2vw;
  font-family: 'Share Tech Mono', monospace;
  margin: 35px 0px;
}
.console-underscore {
  display:inline-block;
  top:-0.14em;
  left:10px;
  color:#F87060;
}
/*----------------------------*/
.iconos img{
  width: 32px;
  margin: 0px 14px;
}
/*----------------------------*/
.abajo{
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.abajo div{
  animation-duration: 1.5s;
}
.abajo img{
  width: 30px;
}
/*---*/
.subtitulo h2{
  margin: 20px 0;
}
/*---*/
/********************************SOBREMI******************************/
.profile img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 2em;
}
.sobremi .subtitulo{
  font-size: 5vw;
  color: #F87060;
}
.descripcion{
  display: inline-block;
  width: 40%;
  color: #B3A394;
  font-size: 16px;

}
.descripcion, .otrosDatos{
  height: 180px;
}
.hobbies, .insignias{
  display: inline-block;
  margin: 0 1em;
}
.dir{
  background-color: #F87060;
  color: white;
  border-radius: 3px;
  padding: 10px;
  margin: 0 0;
}
.dir:hover{
  background-color:#102542;
}
.ocultar{
  display: none;
}
/*****************************HABILIDADES*****************************/
.herramienta{
  padding-bottom: 20px;
}
.derec{
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
.herramienta .derecha{
  text-align: right;
}
.texto h3{
  font-size: 17px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
}
.texto h3:hover{
  color: #F87060;
}
.texto p{
  margin-bottom: 20px;
  color: #B3A394;
}
/*_+++++_*/
.izquier{
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.git img{
  width: 50px;
}
/*************************PROYECTOS**************************************/
.opcion{
	display: inline-block;
	border-radius: 5px;
	padding: 1%;
	margin-top: 1em;
	color: #f87060;
	border: 1px solid #f87060;
  border-radius: 3px;
}
.opcion:hover{
  background-color:#f87060;
  color: white;
  text-decoration: none;
}
.bots p{
  font-size: 20px;
  margin: 1em 0;
}
.bots a{
  text-decoration: none;
  padding: 1%;
  border-radius: 3px;
  border:1px solid #bbb;
}
/*****************************CONTACTO********************************/
.despedida{
	margin: 2em 0;
  padding: 0 10%;
	display: inline-block;
}
.icn-final{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #B3A394;
  display: inline-block;
  margin: 0 20px;
}
.icn-final img{
  margin-top: 25%;
}
.cv{
	display: inline-block;
	border:2px solid #F87060;
	border-radius: 5px;
	padding: 1%;
  color:#E71D36;
  margin: 2em 0;
}
.cv:hover{
  background-color: rgba(0,0,0,0.3);
}
.qr img{
  width: 100px;
}
.frase div{
  display: inline-block;
}
.frase{
  margin:2em 0;
  color:#E71D36;
  text-align: center;
}
.comilla{
  display: inline-block;
}
.izq{
  float: right;
}
.comilla img{
  width: 20px;
}
/******************************MEDIAS***********************************/
@media (max-width: 991px){
  .idioma{
    margin: 10px 50px 0 0;
  }
  .idioma a{
    font-size: 18px;
  }
  .foto{
    width: 300px;
    height: 300px;
  }
  .saludo h2{
    font-size: 4vw;
  }
  .saludo .mano{
    width: 55px;
    height: 40px;
  }
  .parrafo p{
    font-size: 1em;
  }
  .hobbie .circulo{
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  .insignias .badg img{
    width: 50px;
    margin-bottom:.4em;
  }
}
@media (max-width: 767px){
  .nombre h1{
    font-size: 10vw;
  }
  .foto{
    width: 200px;
    height: 200px;
  }
  .saludo{
    text-align: center;
  }
  .saludo h2{
    font-size: 10vw;
  }
  .parrafo{
    text-align: center;
    padding: 0 2em;
  }
}
@media(max-width: 479px){
  .nombre h1{
    margin-top: 35vh;
    font-size: 12vw;
  }
  .icn img{
    width: 40px;
    height: 40px;
  }
  .console-container{
    font-size: 6vw;
  }
}

.pv-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.inline-block {
  display: inline-block;
}

/*VIDEO*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
