/*----------MENU-----------------*/
.menu-section{
  position: fixed;
  top:0;
  right: 0;
  width: 100%;
  z-index: 1000;
}
.menu-toggle {
  width: 40px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  right: 0;
  margin: 2%;
}
.on{
  background-color:#F87060;
}
.on .one {
  transform: rotate(45deg) translate(7px, 7px);
  background: white;
}
.on .two {
  opacity: 0;
}
.on .three {
  transform: rotate(-45deg) translate(8px, -10px);
  background: white;
}
.one,
.two,
.three{
  width: 100%;
  height: 5px;
  background: #F87060;
  margin: 6px auto;
  backface-visibility: hidden;
  transition-duration:0.3s;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 4em auto;
  text-align: center;
  height: 100vh;
}
.hidden{
  display: none;
}
nav ul a {
  transition-duration:0.5s;
  text-decoration: none;
  color: #f4f5f9;
  font-size: 4vw;
  line-height: 1.5;
  width: 100%;
  font-family: 'Righteous', cursive;
}
nav ul a:hover{
  text-decoration: none;
}
nav ul li:hover{
  background-color: rgba(248,80,50,0.5);
}
/*----*/
.menu-items li{
  height: calc(100% / 7);
}
/***********************************************************************************/
.principal{
  height: 100vh;
  position: relative;
}
/*---------------------*/
.idioma {
  margin: 30px 70px 0 0;
  float: right;
  font-size: 22px;
  font-weight: bold;
}
.idioma a{
  color: #F87060;
  text-decoration: none;
}
/*--------------------*/
.nombre h1{
  margin-top: 14vh;
  font-family: 'Pacifico', cursive;
  color: #f4f5f9;
  font-size: 10vw;
}
/*--------TITULO-------------*/
.console-container {
  font-size:2vw;
  font-family: 'Share Tech Mono', monospace;
  margin: 35px 0px;
}
.console-underscore {
  display:inline-block;
  top:-0.14em;
  left:10px;
  color:#F87060;
}
/*----------------------------*/
.iconos img{
  width: 32px;
  margin: 0px 14px;
}
/*----------------------------*/
.abajo{
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.abajo div{
  animation-duration: 1.5s;
}
.abajo img{
  width: 30px;
}
/*---*/
.subtitulo h2{
  margin: 20px 0;
}
/*---*/
.subtitulo{
  font-family: 'Righteous', cursive;
  color: #F87060;
}
/********************************SOBREMI******************************/
.profile img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 2em;
}
.descripcion{
  display: inline-block;
  width: 40%;
  color: #B3A394;
  font-size: 16px;

}
.descripcion, .otrosDatos{
  height: 220px;
}
.hobbies, .insignias{
  display: inline-block;
  margin: 0 1em;
}
.dir{
  background-color: #F87060;
  color: white;
  border-radius: 3px;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}
.dir:hover{
  background-color:#102542;
}
.ocultar{
  display: none;
}
/*****************************HABILIDADES*****************************/
.herramienta{
  padding-bottom: 20px;
}
.derec{
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
.herramienta i{
  font-size: 50px;
  color: #F87060;
}
.herramienta .derecha{
  text-align: right;
}
.texto h3{
  font-size: 17px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
}
.texto h3:hover{
  color: #F87060;
}
.texto p{
  margin-bottom: 20px;
  color: #B3A394;
}
/*_+++++_*/
.izquier{
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.gif img{
  max-width: 90%;
  margin-top: 100px;
}

/*************************PROYECTOS**************************************/
.opcion{
	display: inline-block;
	border-radius: 5px;
	padding: 1%;
	margin-top: 1em;
	background-color: #f87060;
  border-radius: 3px;
  font-weight: bold;
  color: white;
}
.opcion:hover{
  background-color:#102542;
  color: white;
  text-decoration: none;
}
.bots a{
  background-color: #B3A394;
  color: white; 
  cursor: pointer;
  text-decoration: none;
  padding: .5%;
  font-size: 16px;
  border-radius: 3px;
}
/*****************************CONTACTO********************************/
.contacto{
  padding: 0;
}
.despedida{
	display: inline-block;
  width: 40%;
  color: #B3A394;
  font-size: 16px;
}
.icn-final{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #B3A394;
  display: inline-block;
  margin: 0 20px;
}
.icn-final img{
  margin-top: 25%;
}
.cv{
	display: inline-block;
	background-color: #F87060;
	border-radius: 5px;
	padding: 1%;
  margin: 2em 0;
  cursor: pointer;
}
.cv a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.frase{
  margin-top: 2em;
  color:#E71D36;
  text-align: center;
  background-color: #B3A394;
}
/***/
.pv-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.inline-block {
  display: inline-block;
}
/*VIDEO*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
/******************************MEDIAS***********************************/
@media (max-width: 991px){
  .idioma{
    margin: 10px 50px 0 0;
  }
  .idioma a{
    font-size: 18px;
  }
}
@media (max-width: 768px){
  .nombre h1{
    font-size: 10vw;
  }
  .parrafo{
    text-align: center;
    padding: 0 2em;
  }
  /*---------------*/
  .herramienta{
    padding: 0 20px;
  }
  .derec{
    float: left;
    margin-right: 20px;
    margin-left: 0;
  }
  .herramienta .derecha{
    text-align: left;
  }
}
@media(max-width: 479px){
  .nombre h1{
    margin-top: 35vh;
    font-size: 12vw;
  }
  .icn img{
    width: 40px;
    height: 40px;
  }
  .console-container{
    font-size: 6vw;
  }
  /*------------*/
  .profile img{
    width: 160px;
    height: 160px;
  }
  .pv-70 {
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .descripcion{
    width: 90%;
  }
  .direccionales{
    margin: 20px 0;
  }
  .hobbies, .insignias{
    margin-bottom: 20px;
  }
  .hobbies img{
    width: 45px;
    margin-top: 5px;
  }
  .insignias img{
    width: 50px;
  }
  /*---------------*/
  .despedida{
    width: 80%;
  }
  /*----------------*/
  .menu-items a{
    font-size: 30px;
  }
}
